*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  width: 1140px;
  grid-template-columns: auto;
  grid-template-areas: "result content__details";
  justify-content: space-between;
  align-self: center;
  grid-area: content;
  justify-self: center;
  align-content: start;
  column-gap: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  padding-bottom: 3px;
}

.content__list-container {
  position: relative;
  overflow: auto;
  width: 399px;
  max-height: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 28px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-of-type) {
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 103px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.search-form__fieldset {
  border-style: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  margin-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 69px;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-top: 21px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  max-width: 193px;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  line-clamp: 1;
  text-overflow: ellipsis;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  background-color: transparent;
  font-size: 17.6px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  inline-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 18px;
  height: 18px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 18px;
}

.button {
  border: 1px solid #fff;
  color: #fff ;
  font-family: inherit;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  margin-bottom: 8.3px;
}