*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-content: end;
  gap: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
}

.content__list-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto;
  max-height: 298px;
  position: relative;
}

.content__list {
  display: grid;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  display: grid;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding: 1px 2px 1px 2px;
}

.content__list {
  display: grid;
  row-gap: 30px;
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset {
  border-style: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #fff;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 96%;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  max-width: 193px;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 224px;
  height: 27px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  background-color: transparent;
  font-size: 17.6px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  inli
}

.search-form__-checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 18px;
  height: 18px;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 18px;
}

.button {
  border: 1px solid #fff;
  color: #fff ;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 6px;
}

.more-button {
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
