*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-area: menu;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: flex-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__list-container {
  position: absolute;
  overflow: scroll scroll;
  width: 399px;
  height: 534px;
}

.content__details {
inset: 0;
}

.result__video-container {

}


.content__list-item {
  gap: 30px;
}

.content__video-card {
  display: flex;
  gap: 40px;
}

.content__video-card-thumbnail {

}

.content__video-card-description-container {

}

.search-form__fieldset-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #fff;
}

.content__video-card-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.content__video-card-description {
  line-height: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 0.9;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
