*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-area: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.content__list-container {
  position: absolute;
  overflow: scroll scroll;
  width: 399px;
  height: 534px;
}

.content__details {
  min-width: 100%;
  min-height: 100%;
  gap: 30px;
}

.result__video-container {
  padding: 78px 30px 16px 0px;
  object-fit: contain;
}


.content__list-item {
  gap: 30px;
}

.content__video-card {
  display: flex;

  gap: 40px;
}

.content__video-card-thumbnail {
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-titlen {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.content__video-card-description {
  line-height: 90%;
  line-clamp: ;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
